@model FrontEnd_Zahri.Models.Student

@{
    ViewData["Title"] = "Update";
}

<h1 class="mt-4">Update Student</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">List Student</li>
</ol>
<hr />
<div class="card mb-4">
    <div class="card-body">

        <div class="col-md-6">
            <form asp-action="Update">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3 mt-3">
                    <label asp-for="ID" class="control-label"></label>
                    <input asp-for="ID" class="form-control" />
                    <span asp-validation-for="ID" class="text-danger"></span>
                </div>
                <div class="mb-3 mt-3">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3 mt-3">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="mb-3 mt-3">
                    <label asp-for="EnrollmentDate" class="control-label"></label>
                    <input asp-for="EnrollmentDate" class="form-control" />
                    <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
                </div>
                <div class="mb-3 mt-3">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-controller="Student" asp-action="Index" class="btn btn-primary btn-sm">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
